/**
 * Worksheet 
 */

div.watermark {
    color: #ddd;
    float: right;
    font: 20pt sans-serif;
}

div.title {
    color: #000;
    font: 20pt sans-serif;
}

div.block {
    margin-bottom: 8px;
    padding-bottom: 2px;
    border-left: 3px solid #ddd;
    padding-left: 2px;
}

textarea.query {
    resize: none; /* Disable Webkit textbox resizing. */
    width: 100%;
    border: 0px;
}

div.answer {
    background: #afa;
}

div.error {
    background: #faa;
}

table.results {
    border-collapse: collapse;
}

table.results tr * {
    border: 1px solid #888;
    padding: 3px
}
table.results tr th {
    background: #ddd;
}

table.results tr td {
    background: #afa;
}