/**
 * Worksheet 
 */

div.watermark {
    color: #ddd;
    float: right;
    font: 20pt sans-serif;
}

div.title {
    color: #000;
    font: 20pt sans-serif;
}

div.block {
    margin-bottom: 8px;
    padding-bottom: 2px;
    border-left: 2px solid #ddd;
    padding-left: 2px;
}

textarea.query {
    resize: none; /* Disable Webkit textbox resizing. */
    width: 100%;
    border: 0px;
}

textarea.query:focus {
    outline: none;
    background: #eee;
}

div.value {
    border-left: #afa 2px solid;
}

div.error {
    border-left: #faa 2px solid;
}

table.results {
    border-collapse: collapse;
}

table.results tr * {
    border: 1px solid #888;
    padding: 3px
}
table.results tr th {
    background: #ddd;
}

table.results tr td {
    background: #afa;
}

.error > .answer {
    color: #f00;
}

/* Block type styles */

.b-header > textarea {
    color: #060;
    font: large sans-serif;
}

.b-text > textarea {
    font: small sans-serif;
}

.b-remotequery > textarea {
    color: #4a4;
    font: monospace;
}

.b-localquery > textarea {
    color: #44a;
    font: monospace;
}