/**
 * Worksheet 
 */

div.watermark {
    color: #ddd;
    float: right;
    font: 20pt sans-serif;
}

div.title {
    color: #000;
    font: 20pt sans-serif;
}

div.sql_query {
    margin-bottom: 20px;
    padding-right: 30px;
}

textarea.query {
    height: 75px;
    width: 100%;
}

div.answer {
    background: #afa;
}

div.error {
    background: #faa;
}

table.results {
    border-collapse: collapse;
}

table.results tr * {
    border: 1px solid #888;
    padding: 3px
}
table.results tr th {
    background: #ddd;
}

table.results tr td {
    background: #afa;
}